<%- include('partials/header') -%>
<a class="btn col-2 btn-primary ml-12 align-middle" href="/feed">Back to Recipe Book</a>
<div class="container">
  <div class="row justify-content-center mt-5 grid-container">
    <div class="col-8" >
      <div class="pic grid-item">
        <h2 class="h2"><%= post.recipeName %></h2>
        <img class="img-fluid" src="<%= post.image%>" />
      </div>  
      <div class="ingredients bp-3">
        <h3 class='h3'><%= post.cuisine %></h3>
        <h3 class="h3">Ingredients</h3>
        <h5>*  <%= post.ingredient1 %></h5>
        <h5>*  <%= post.ingredient2 %></h5>
        <h5>*  <%= post.ingredient3 %></h5>
        <h5>*  <%= post.ingredient4 %></h5>
        <h5>*  <%= post.ingredient5 %></h5>
        <h5>*  <%= post.ingredient6 %></h5>
        <h5>*  <%= post.ingredient7 %></h5>
        <h5>*  <%= post.ingredient8 %></h5>
        <h5>*  <%= post.ingredient9 %></h5>
        <h5>*  <%= post.ingredient10 %></h5>
      </div>
      <div>
        <h3 class="h3 pb-3">Directions</h3>
        <h5 class="pb-3">1.   <%= post.step1 %></h5>
        <h5 class="pb-3">2.   <%= post.step2 %></h5>
        <h5 class="pb-3">3.   <%= post.step3 %></h5>
        <h5 class="pb-3">4.   <%= post.step4 %></h5>
      </div>
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button type="submit" class="btn btn-accent bg-pink-600 fa fa-heart" ></button>
          <!-- type="submit" -->
        </form>
        <!-- <form
          class="col-1"
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-secondary bg-red-600 fa fa-trash" ></button>
        </form> -->
        <h3 class="col-1">Likes: <%= post.likes %></h3>
        <!-- <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash"></button>
        </form>
        <%}%> -->
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="mt-5">
      <h2 class="h3">Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary mb-48 bg-blue-700">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].comment%>
        </li>
      <% } %>
    </ul>
    <!-- <div class="col-6 mt-5 mb-20 justify-left">
      <a class="btn btn-primary mr-36" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div> -->
  </div>
</div>

<%- include('partials/footer') -%>
